<!DOCTYPE html>
<html>
  <head>
    <title>Articlehub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container devise">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <%= render 'layouts/alert_messages' %>
          <div class="card card-signin my-5">
            <div class="card-body">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
